:root {
    --dark_green: #3D600A;
    --light_green: #E6EBDB;
    --white: #FFF;
    --black: #000;
    --text-size: 18px;
    --text-line-height: 140%;
    --h2-size: 60px;
    --h3-size:48px;
    --title-line-height:90%;
    --heading-size: 16px;
    --heading-line-height:120%;
    --caption-size: 16px;
}

body {
    margin: 0;
    font-family: "arimo";
    font-weight: 400;
    font-style: normal;

}

header {
    position: absolute;
    top: 40px;
    left: 60px;
    z-index: 100;
}

h1 {
    font-family: "cofo-peshka-variable",sans-serif;
    font-variation-settings: 'wdth' 50, 'wght' 900, 'slnt' 0;
    font-size: 160px;
    padding: 32px 0px 0px 60px;
    width: 200vw;
    margin: 0px;
    color: var(--dark_green);
    background-color: var(--light_green);;
}

.h2 {
    font-family: "bebas-neue-pro",sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 54px */
    letter-spacing: -1px;
    text-transform: uppercase;
    width: 100%;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
}

.h3 {
    color: var(--black, #000);
    font-family: "bebas-neue-pro",sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 43.2px */
    letter-spacing: -2.4px;
}

p, li {
    font-size: var(--text-size);
    line-height: var(--text-line-height);
}

ul {
    padding-left: 32px;
}

ul li::marker {
    color: var(--dark_green);
    font-size: 1.5em;
  }

a {
    color: #96A23C;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--dark_green);
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    position: relative; /* Ensure this is positioned relative to its container */
    height: 100vh;
    overflow: clip;

}

/*LEFT*/


.left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / 6;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 1;
    margin-top: 60px;
    background-color: white;
}


.left-part.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

.caption {
    font-size: var(--caption-size);
    line-height: var(--text-line-height);
    margin: 12px 0px 32px 70px;
    display: inline-block;
}

.start-button {
    padding: 16px 60px;
    border-radius: 100px;
    border-width: 0px;
    background: var(--light_green);
    font-size: 28px;
    font-weight: 700; 
    letter-spacing: -1.4px;
    color: var(--dark_green);
    cursor: pointer;
    margin: 0px 0px 0px 60px;
    display: inline-block; /* Makes the button wrap around the text */
    align-self: flex-start; /* Aligns the button to the left */
    transition: 0.4s ease;
}

.start-button:hover {
    background-color: var(--dark_green);
    color: white;
}

.back-button {
    position: absolute;
    left: 60px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: var(--light_green);
    border-width: 0px;
    cursor: pointer;
    padding: 0px;
}


.logos {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin: 0px 0px 0px 60px;
}

/*MIDDLE*/

.middle-part {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between rows of icon-text pairs */
    justify-content: center;
    z-index: 2;
}

.icon-circle-container {
    display: flex;
    align-items: center;
    gap: 16px; /* Space between icon and text */
    flex-direction: row-reverse;
    cursor: pointer;
}

.icon-circle {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    transition: background-color 0.3s ease, border .3s ease;  
    cursor: pointer;
}

.icon-circle.no-hover {
    pointer-events: none; /* Disable interaction */
    transition: none; /* Disable hover transition */
}

.icon-circle.no-border {
    border: 3px solid transparent;
}

.icon-circle.show-border {
    border: 3px solid var(--light_green); /* Change border color when show-border class is added */
}

.icon-circle:hover {
    background-color: #96A23C;
    border: 3px solid transparent;
}

.icon-circle img {
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for both scale and opacity */
    opacity: 1; /* Default opacity */
}

.icon-circle img.fade-out {
    opacity: 0; /* Fade out */
    
}

.icon-circle img.fade-in {
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 1s ease 0s; /* Delay the fade-in to ensure scale-up is complete */
    opacity: 1; /* Fade in */
}


.icon-circle:hover img {
    filter: brightness(100); /* Change icon color to white */}

.icon-text {
    font-size: var(--heading-size);
    font-weight: 700;
    font-style: normal;
    line-height: var(--heading-line-height);
    position: absolute;
    text-align: right;
    width: 400px;
    margin-right: 86px;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon-circle-container.show-text .icon-text {
    opacity: 1;
    transform: translateX(0);
}


/*RIGHT*/


.right-part {
    grid-column: span 6;
    z-index: 900;
    display: flex;
    align-items: center;
}

.image {
    position: relative;
    height: 90vh;
}

/*Page Transition*/

#transition-circle {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: var(--light_green);
    border-radius: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    transition: 0.8s ease-out;
}

#transition-circle.expand {
    width: 150vw;
    height: 150vw;
}

#transition-circle.shrink {
    width: 0;
    height: 0;
}



/*Inner pages*/

.side-menu {
    position: absolute;
    left: 60px; /* 60px from the left */
    display: flex;
    flex-direction: column;
    gap: 4px; /* Space between icon containers */
    z-index: 10;
    justify-content: center;
    height: 100vh;
}

.side-menu .icon-circle-container {
    padding: 4px;
    gap: 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 100px;
    width: fit-content;
}

.side-menu .icon-text {
    text-align: left;
    position: relative;
    width: auto;
    margin-right: 16px;
}

.side-menu .icon-circle-container:hover .icon-text {
    opacity: 1; /* Show the text on hover */
}

.side-menu .icon-circle-container:hover {
    background-color: #ffffff50;
    backdrop-filter: blur(8px);
}

.side-menu .icon-circle-container:hover .icon-text {
    opacity: 1;
    transform: translateX(0) 0.3s easy; /* Adjust if you want a sliding effect */
}

.side-menu .icon-text {
    transform: translateX(-10px); /* Start slightly off position for sliding effect */
}

.side-menu .back-button {
    position: relative;
    left: 0px;
}
.content-wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
    padding-left: 100px;
}

.middle-tree {
    transition: opacity 0.3s ease;
    position: relative;
    display: inline-block;
    align-content: center;
}

.right-content {
    flex: 1;
    z-index: 30;
    background-color: var(--light_green);
    transition: 0.8s ease;
    margin: 40px 40px 40px 0px;
    padding: 24px 32px 24px 32px;
    border-radius: 24px;
    background-image: url(images/cardbg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
    

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header.hidden,
.card-content.hidden {
    opacity: 0;
}


.card-counter {
    color: var(--white, #FFF);
    font-family: "cofo-peshka-variable",sans-serif;
    font-variation-settings: 'wdth' 50, 'wght' 900, 'slnt' 0;
    font-size: 260px;
    font-style: normal;
    line-height: 80%; /* 208px */
    transform: translateY(12px);
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in {
    opacity: 1;
    animation: fadeIn 0.5s ease;
}

.card-header,
.card-content {
    opacity: 1;
    transition: opacity 0.5s ease;

}
 .card-content {
    transition-delay: 0.2s;
    max-height: 100%;
    overflow-y: auto; 
    padding-right: 20px;
 }


.buttons-container {
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 40px;
    width: 220px;
    z-index: 4;
}

#tree-image {
    transition: 0.8s ease;
    width: 50vw;
}

.btn-detailed {
    display: flex;
    padding: 2px 16px 2px 2px;
    justify-content: left;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 56px;
    background: var(--light_green);
    color: var(--black);
    font-size: var(--text-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--text-line-height);
    border-width: 0px;
    cursor: pointer;
}

.btn-detailed:hover {
    background-color: #96A23C;
    transition: 0.3s ease;
}

.card-btn {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: -228px;
}

.btn-arrow {
    background-color: #FFF;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}



/*Dots*/


.dots-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vw;
    pointer-events: none; /* Keep this to ensure the container itself does not block clicks */
    z-index: 20;
    transition: 0.8s ease;
}

.dot {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--dark_green);
    border-radius: 50%;
    border: 3px solid white;
    z-index: 21;
    pointer-events: auto;
    cursor: pointer;
    opacity: 0; /* Start invisible */
    animation: fadeIn 0.5s forwards; 
    animation-delay: 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.dot:hover {
    transform: scale(1.5);
    transition: 0.3s ease;
    background-color: #96A23C;
    border: 3px solid var(--light_green);
}

.leaf1 {
    background-image: url(images/leaf1.png);
    background-size: contain;
    background-position: center;
    display: flex;
    width: 167px;
    height: 75px;
    position: fixed;
    left: 20%;
    top: 20%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


::-webkit-scrollbar {
    width: 2px;
}
  
::-webkit-scrollbar-thumb {
    background: var(--dark_green);
    opacity: 0.1;
    border-radius: 12px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--dark_green);
    opacity: 1;}



    #mobile-warning {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 16px;
        background-color: var(--light_green);
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .h2 .btn-detailed {
        font-size: 24px;
        border: 2px solid white;
        width: fit-content;
        block-size: fit-content;

    }
    
    /* Show the warning only when the screen is less than 1100px wide */
    @media screen and (max-width: 1199px) {
        #mobile-warning {
            display: flex; /* Display the overlay */
        }
        body {
            overflow: hidden; /* Prevent scrolling */
        }
    }